{% extends 'layouts/layout-yalova.html'%}
{% block content %}
  <div>
  <table class="table table-light table-bordered">
    <thead>
      <tr>
        <th scope="col">BOYA</th>
        <th scope="col">RENK</th>
        <th scope="col">KG</th>
        <th scope="col">STOK</th>
      </tr>
    </thead>
    {% for paint in alkid %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in ferropox %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in promega %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in ferromel %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in epoxy %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in akrilik %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in promarin %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in underwater %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in ferforje %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in antipas %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in aluminyum %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
    {% for paint in resistant %}
    <tbody>
      <tr>
        <td>{{ paint.name }} {{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>{{ paint.weight }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text input-group-sm text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text input-group-sm{% endif %}" style="max-width:60px;" value="{{ paint.stock }}" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
  </table>
  </div>
  {% if user.is_authenticated %}
        <center>
          <a href="{% url 'boya_ekle' %}">
            <input type="submit" class="btn btn-sm btn-success" value="Boya Ekle">
          </a>
        </center>
  {% endif %}
{% endblock%}

