{% extends 'layouts/layout-yalova.html'%}
{% block content %}

  <center>
    <form action="/update/{{paint.id}}" method="POST">
      {% csrf_token %}
    <table class="table">
      <table class="table">
      <tr>
        <td>AD</td>
        <td><input type="text" class="input-group-text" name="name" value="{{paint.name}}"></td>
      </tr>
      <tr>
        <td>TÜR</td>
        <td><input type="text" class="input-group-text" name="type" value="{{paint.type}}"></td>
      </tr>
      <tr>
        <td>RENK</td>
        <td><input type="text" class="input-group-text" name="color" value="{{paint.color}}"></td>
      </tr>
      <tr>
        <td>AĞIRLIK</td>
        <td>
        <select class="form-select" name="weight" style="max-width:200px;">
          <option value="20 KG">20 KG</option>
          <option value="12 KG">12 KG</option>
          <option value="5 KG">5 KG</option>
        </select>
        </td>
      </tr>
      <tr>
        <td>STOK</td>
        <td><input type="text" class="input-group-text" name="stock" value="{{paint.stock}}"></td>
      </tr>
      <tr>
        <td>LOKASYON</td>
        <td>
        <select class="form-select" name="location" style="max-width:200px;">
          <option value="İstanbul">İstanbul</option>
          <option value="Yalova">Yalova</option>
        </select>
        </td>
      </tr>
      <tr>
        <td>SEÇ</td>
        <td>
        <select class="form-select" name="choice" style="max-width:200px;">
          <option value="Boya">Boya</option>
          <option value="Tiner">Tiner</option>
        </select>
        </td>
      </tr>
    </table>
    <input type="submit" class="btn btn-success" value="Güncelle">
    <a class="btn btn-secondary" href="{% url 'index' %}">Çıkış</a>
    {% if messages %}
    {% for updatePaint in messages %}
    {{updatePaint}}
    {% endfor %}
    {% endif %}
  </form>
  </center>



{% endblock %}