{% extends 'layouts/layout-yalova.html'%}
{% block content %}
  <div>
  <table class="table table-light table-bordered">
    <thead>
      <tr>
        <th scope="col">BOYA</th>
        <th scope="col">TÜR</th>
        <th scope="col">RENK</th>
        <th scope="col">STOK</th>
      </tr>
    </thead>
    {% for paint in paints %}
    <tbody>
      <tr>
        <td>{{ paint.name }}</td>
        <td>{{ paint.type }}</td>
        <td>{{ paint.color }}</td>
        <td>
        <input name="currentStock" type="number" class="{% if paint.stock == 0 %}input-group-text text-light bg-danger{% endif %}{% if paint.stock != 0 %}input-group-text{% endif %}" value="{{ paint.stock }}" style="max-width: 50px;" readonly>
        </td>
        {% if user.is_authenticated %}
        <td>
          <a href="/edit/{{paint.id}}">
            <input type="submit" class="btn btn-sm btn-success" value="Giriş">
          </a>
        </td>
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
  </table>
  </div>
{% endblock%}

