{% extends 'layouts/layout.html'%}
{% block content %}

<div class="position-absolute top-50 start-50 translate-middle">
	<form method="POST">
		{% csrf_token %}
      <h1>Yetkili Girişi</h1>
        <label for="username" class="col-form-label">
          Kullanıcı : {{ form.username }} 
        </label>
        <label for="password" class="col-form-label">
          Şifre : {{ form.password }}
        </label>
      <button class="btn btn-success" type="submit">Giriş</button>

	</form>


{% endblock %}